@{
    ViewData["Title"] = "Update";
}
@model CourseUpdateInput
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Course Detail</h5>
                <form class="m-2" asp-controller="Courses" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="UserId" />
                    <input type="hidden" asp-for="Picture" />
                    <div class="mb-3">
                        <label class="form-label" asp-for="CategoryId"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.categoryList">
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Name"></label>
                        <input class="form-control" asp-for="Name" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Price"></label>
                        <input class="form-control" asp-for="Price" />
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Description"></label>
                        <textarea class="form-control" asp-for="Description"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Feature.Duration"></label>
                        <input class="form-control" asp-for="Feature.Duration" />
                        <span class="text-danger" asp-validation-for="Feature.Duration"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="PictureUrl"></label>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="@Model.PictureUrl" class=" form-control img-thumbnail" width="150" alt="photo" />
                            </div>
                        </div>
                        
                        <div class="m-2">
                            <label class="form-label" asp-for="PhotoFormFile"></label>
                            <input class="form-control" type="file" asp-for="PhotoFormFile" />
                            <span class="text-danger" asp-validation-for="PhotoFormFile"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update Course</button>
                </form>
            </div>
        </div>
    </div>
</div>


